mat-card {
  padding: 1rem;
  margin: 1rem;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

app-key-value {
  width: 100%;
}

mat-list-item {
  white-space: break-spaces;
  margin-bottom: 0.5rem;
}
