<mat-form-field [appearance]="appearance" [color]="color">
  <mat-label *ngIf="label" [ngStyle]="{ padding: icon ? '0 0 0 1.5rem' : '0' }">
    {{ label }}
  </mat-label>
  <div class="ui__input">
    <input
      matInput
      [formControl]="formControl"
      autocomplete="off"
      [type]="type"
      [required]="required"
      [placeholder]="placeholder"
      [matTooltip]="tooltip"
      [matTooltipPosition]="tooltipPosition"
      [matTooltipHideDelay]="200"
      [matTooltipShowDelay]="200"
      [readonly]="readonly"
      (blur)="onBlur()"
    />
    <mat-icon matPrefix *ngIf="icon">{{ icon }}</mat-icon>
  </div>
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-error *ngIf="formControl?.invalid">{{ getErrorMessage() }}</mat-error>
</mat-form-field>
