:host {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: spaced-between;
  flex-wrap: wrap;

  max-width: 1200px;
  width: 100%;

  app-left-pane {
    flex: 1 0 100%;
  }
  app-right-pane {
    flex: 1 1 auto;
  }
}

@media (min-width: 700px) {
  main {
    display: flex;
    justify-content: spaced-between;
    flex-wrap: wrap;

    app-left-pane {
      flex: 0 0 350px;
    }
    app-right-pane {
      flex: 1 0 auto;
    }
  }
}
